@model IEnumerable<CadastroDePedidos.Models.Itens>

<div class="form-horizontal">
    <h4>Itens</h4>
    <hr />
    <div class="form-group">
        <label class="control-label col-md-2">Quantidade</label>
        <div class="col-md-10">
            <input type="text" id="Quantidade" name="Quantidade"  class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Produto</label>
        <div class="col-md-10">
            <input type="text" id="Produto" name="Produto"  class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Valor Unitário</label>
        <div class="col-md-10">
            <input type="text" id="ValorUnitario" name="ValorUnitario" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a href="#" onclick="SalvarItens();" class="btn btn-primary">Gravar Itens</a>
        </div>
    </div>
</div>
<input type="hidden" id="idPedido" value="@ViewBag.Pedido" />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Produto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorUnitario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Quantidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Produto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorUnitario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ItensID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ItensID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ItensID })
        </td>
    </tr>
}

</table>
